.text{
    top: 150px;
    padding-top: 20px;
    color: #570489;
    font-family: 'Open Sans';
    font-style: normal;
}

.TableText{
    color: "#B0096E";
    font-family: 'Open Sans';
    font-style: normal;
    size: 12;
}