.ButtonInMainScreen {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .BackImageHome{
    background-image: url(/src/Style/images/MainScreen.png) ;
    position: fixed;
    background-Position: right;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    float: left;
    position: fixed;
    transform: translate(-5%);
  }
  
  .LogoHorizontal{
    background-image: url(/src/Style/images/LogoHorizontal.png);
    background-Position: left;
    background-repeat: no-repeat;
    top: 10%;
    left: 5%;
    min-height: 20%;
    height: auto;
    width: auto;
    
  }
  
  .MainText{
    color: #570489;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    text-align: start;
    position: absolute;
    top: 30%;
    left: 0;
    /* padding: 20px; */
  }
  
  .ButtonInMainScreen{
    background-color: #9007E4;
    position: absolute;
    width: auto;
    height: auto;
    left: 0%;
    top: 70%;
    border-width: 0;
    border-radius: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color: white;
    padding: 20px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
   
    background-color: #516690;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  